.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* You can adjust the transparency here */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the spinner animation within the overlay */
.loader-spinner {
  border: 4px solid rgba(219, 197, 178, 0.479); /* Spinner border color */
  border-top: 4px solid #fca311; /* Spinner top border color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* Spinner animation keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
